.cart {
  grid-area: cart;
  padding-top: 32px;
}

.cart__wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 32px;
}

.cart__title {
  color: $black;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
}

.cart__account {
  color: $grey-1;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.cart__link {
  color: $black;
  text-decoration: none;
}

.cart__descr {
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 24px;
}


.cart__aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px 16px;
  border: 1px solid $grey-1;
  margin-bottom: 38px;
}

.cart__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cart__row {
  display: flex;
  justify-content: space-between;

  &--promo {
    display: none;
  }
}

.cart__divider {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cart__label {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: $black;

  &--promo {
    font-size: 12px;
    line-height: 15px;
  }

  &--action {
    font-size: 12px;
    line-height: 15px;
  }
}

.cart__aside-price {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: $black;

  &--promo {
    font-size: 12px;
    line-height: 15px;
    color: $error;
  }

  &--discount {
    color: $error;
  }

  &--action {
    font-size: 12px;
    line-height: 15px;
    color: $error;
  }
}

.cart__pickup {
  border-top: 1px solid $grey-2;
  border-bottom: 1px solid $grey-2;
  padding: 12px 0;
}

.cart__pickup-description {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: $grey-1;
}

.cart__pickup-text {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: $black;
  margin-bottom: 10px;
}

.cart__pickup-toggle {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.cart__pickup-slider {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
  background-color: $grey-2;
  opacity: 0.5;
  border-radius: 24px;
  transition: background-color 0.3s ease;
}

.cart__pickup-slider::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: -7px;
  bottom: -4px;
  background-color: #555;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.cart__pickup-input:checked + .cart__pickup-slider {
  background-color: $grey-1;
}

.cart__pickup-input:checked + .cart__pickup-slider::before {
  transform: translateX(20px);
}


.cart__summary {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: $black;
}

.cart__promo {
  position: relative;
  display: inline-block;
  width: 100%;
}

.cart__promo-input {
  width: 100%;
  padding: 12px 75px 12px 16px;
  height: 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  font-family: inherit;
  color: $grey-1;
}

.cart__promo-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 12px;
  display: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: $black;
}

.cart__promo-button.visible {
  display: block;
}

.cart__promo-label {
  position: absolute;
  top: 13px;
  left: 16px;
  font-size: 16px;
  color: $grey-1;
  pointer-events: none;
  transition: 0.3s ease;
  background: $white;
  padding: 0 4px;
}

.cart__promo-input:focus + .cart__promo-label,
.cart__promo-input:not(:placeholder-shown) + .cart__promo-label {
  top: -6px;
  left: 12px;
  font-size: 12px;
  color: $grey-1;
}


.cart__promo-btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: $white;
  padding: 15px 62px;
  background-color: $black;
  border: none;
  cursor: pointer;
}

.cart__politic {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $grey-1;
  text-align: center;
}

.cart__politic-link {
  color: $grey-1;
}


.cart__promo-message {
  display: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 4px;
}

.cart__promo--error {
  display: block;
  color: $error;
}

.cart__promo--success {
  display: block;
  color: $success;
}
