.color {
  cursor: pointer;

  &:hover &__wrapper {
    border: 1px solid $grey-2;
  }

  &__circle {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: border-color 0.3s ease;

    &--black {
      background: $black-product;
    }

    &--blue {
      background: $blue-product;
    }

    &--brown {
      background: $brown-product;
    }
  }

  &__wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
  }

  input:checked + &__wrapper {
    border: 1px solid $black;
  }

  input:focus-within + &__wrapper {
    outline: 1px solid $black;
  }
}
