.color {
  cursor: pointer;
}

.color__circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: border-color 0.3s ease;

  &--black {
    background: $black-product;
  }

  &--blue {
    background: $blue-product;
  }

  &--brown {
    background: $brown-product;
  }
}

.color input:checked + .color__circle {
  outline: 1px solid $black;
  outline-offset: 3px;
}
