.up {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $desktop) {
    bottom: 50px;
    right: 50px;
  }

  &-icon {
    color: $grey-2;
    width: 40px;
    height: 40px;

    @media (min-width: $desktop) {
      width: 40px;
      height: 40px;
    }
  }

  &:hover &-icon {
    color: $grey-1;
  }
}
